# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# pliki tekstowe i inne związane z przygotowywaniem sprawozdania
*.txt
*.csv
*.aux
*.dvi
*.kilepr
*.log
*.tex.backup
*.ods
*.out
*.dia